# Ignore PyCharm project settings
__pycache__/
# Ignore virtual environments
venv/
.env/

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs, temporary, and backup files
*.log
*.bak

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore OS and IDE metadata
*.swp
